<div class="mt-5 py-5" style="margin-left: 30px;" >
  <div>
    <p>
      <p><b>Contact Us</b><br>
       <p>To reach our customer service team please email us at:customerservice@thegrocerymart.com <br>
       <p>To submit a customer service request. <a href="/contact-us">click here</a> <br>
       <p><span style="font-weight: 50;">[All calls to our customer support number 1800-1800-1800 will be recorded for internal training and quality purposes.]</span>
    </p>
  </div>
</div>

<footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -250px; margin-bottom: 180px;">
      <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
      <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
      </div>
      </footer>