.example-spacer {
    flex: 1 1 auto;
}

.link {
    font-size: 1rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px 0px;
}

.button {
    font-size: 0.95rem;
}

button:focus{
    color: black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
}

.cart-button{
    height: 2.6rem;
    width: 2.7rem;
    position: relative;
}

#cart-item-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}