.example-spacer {
    flex: 1 1 auto;
}

.link {
    font-size: 1rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px 0px;
}

.button {
    font-size: 0.95rem;
}

.cart-button{
    height: 2.6rem;
    width: 2.7rem;
}