<div class="navbar">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <mat-icon>home</mat-icon>
      <span class="ms-1">My App</span>
      <span class="example-spacer"></span>
      <button routerLink="/home" mat-button class="me-3 link" *ngIf="isLoggedIn">Home</button>
      <button routerLink="/createProduct" mat-button class="me-3 link" *ngIf="isLoggedIn">Add Product</button>
      <button routerLink="/products" mat-button class="me-3 link" *ngIf="isLoggedIn">Products</button>
      <button routerLink="/productList" mat-button class="me-3 link" *ngIf="isLoggedIn">Product List</button>
      <button routerLink="/orderList" mat-button class="me-3 link" *ngIf="isLoggedIn">Order List</button>
      <button mat-raised-button color="accent" class="btn me-4" *ngIf="!isLoggedIn" routerLink="/login">Login 
        <mat-icon>person</mat-icon>
      </button>
      <button mat-raised-button color="accent" class="button me-4" *ngIf="isLoggedIn" (click)="onLogout()">Logout
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-fab color="primary" class="cart-button me-1" *ngIf="isLoggedIn" routerLink="/cart">
        <mat-icon *ngIf="isLoggedIn" routerLink="/cart">shopping_cart</mat-icon>
        <span id="cart-item-count">{{cartItemCount}}</span>
      </button>
    </mat-toolbar>
</div>