.product-card {
    display: flex;
}

.img-container{
    width: 130px;
    height: 200px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
  
.img-container img{
    width: 85%;
    /* height: 100%; */
    object-fit: cover; 
}
  