<div class="mt-5">
    <h1 class="pt-5 pb-5 text-center">Cart</h1>
    <mat-card class="product-card container mb-4" *ngFor="let product of cartData">
      <div class="d-flex">
        <div class="img-container">
            <img mat-card-image [src]="getImageUrl(product.Image)" alt="Product Image">
        </div>
        <div class="d-flex align-items-center justify-content-center name-div ms-3">
            <h5>{{product.ProductName}}</h5>
        </div>
        <div class="d-flex align-items-center justify-content-center quantity-div ms-3">
            <button class="btn btn-outline-danger">-</button>
                <span class="p-2">0</span>
            <button class="btn btn-outline-success">+</button>
        </div>
      </div>
    </mat-card>
</div>
