.main {
    padding-top: 6rem;
}
.link {
    position: absolute;
    margin-top: 3rem;
    left: 17rem;
}
.delAll{
    position: absolute;
    right: 21rem;
    margin-top: 3rem;
    padding: 0.5rem 1.2rem;
}

.search{
    width: 27rem;
}

.search-icon {
    margin-left: -2.3rem;
    margin-top: 0.55rem;
    color: rgb(139, 139, 139);
}

.searchInput {
    height: 2.5rem;
    border-radius: 1.2rem;

}

.table {
    width: 100%;
    margin: 6rem auto;
}
table tr{
    height: 4rem;
    font-weight: bold;
}
.header {
    background-color: black;
}
td {
    text-align: center;
    font-size: 1.08rem;
    padding: 1rem 1rem;
}
th {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}



:host ::ng-deep .mat-mini-fab {
    
}

@media only screen and (max-width: 1450px) {
    /* .table {
        width: 90%;
    } */
    button {
        margin: 3px auto; 
    }
  }