body {
    background-color: whitesmoke;
}

mat-card {
    max-width: 430px;
    margin: 10rem auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
    margin-bottom: 0.3rem;
}

mat-error {
    margin-left: -1rem;
    font-weight: bold;
}

.form {
    padding: 1.4rem;
    padding-top: 0px;
}

input.ng-invalid.ng-touched {
    color: red;
}

.hint {
    font-size: 0.9rem;
}
