<div class="body">
  <mat-card>
    <mat-card-content>
      <form class="form" [formGroup]="authForm" (ngSubmit)="OnFormSubmit()">
        <h2 class="mb-4 mt-3">{{ isLoginMode ? 'Login' : 'Sign up' }}</h2>
        <!-- <mat-error>
          Email and Password were not recognized
        </mat-error> -->
        <p class="err">{{errMsg}}</p>
        <mat-form-field *ngIf="!isLoginMode">
            <input matInput type="text" formControlName="username" placeholder="Username">
            <mat-error *ngIf="authForm.get('username').errors?.['required']">*Username is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" formControlName="email" placeholder="Email">
          <mat-error *ngIf="authForm.get('email').errors?.['required']">*Email is Required</mat-error>
        </mat-form-field>
        <mat-form-field class="password">
          <input matInput type="password" formControlName="password" #input minlength="6" placeholder="Password">
          <mat-error *ngIf="authForm.get('password').errors?.['required']">*Password is Required</mat-error>
        </mat-form-field>
        <a routerLink="/forgotPassword" class="fp" *ngIf="isLoginMode">Forgot Your Password?</a>
        <mat-form-field *ngIf="!isLoginMode">
          <input matInput type="text" formControlName="fullname" placeholder="Full Name">
          <mat-error *ngIf="authForm.get('fullname').errors?.['required']">*Full Name is Required</mat-error>
      </mat-form-field>
        <mat-form-field *ngIf="!isLoginMode">
          <input matInput type="text" formControlName="contact" placeholder="Phone Number">
          <mat-error *ngIf="authForm.get('contact').errors?.['required']">*Phone Number is Required</mat-error>
          <mat-error *ngIf="authForm.get('contact').errors?.['pattern']">*Phone Number must be of 10 digits</mat-error>
      </mat-form-field>
      <label for="" class="role" *ngIf="!isLoginMode" style="margin-left: -17rem">Select Role:</label>
      <div class="mt-1" *ngIf="!isLoginMode">
        <ng-multiselect-dropdown
            [settings]="roleDropDown"
            [data]="roleResponse"
            formControlName="roleId"
            >
          </ng-multiselect-dropdown>
          <p class="errMsg">{{ errorMessage }}</p>
      </div>
        <button mat-raised-button color="primary" type="submit" class="form-control mb-3 mt-3">{{ isLoginMode ? 'Login' : 'Signup' }}</button>    
        
        <p>{{isLoginMode ? 'Do not have an account yet?' : 'Already have an account?'}}
          <a routerLink="/login" class="text-decoration-none" (click)="onSwitchMode()">{{isLoginMode ? 'Signup' : 'Login'}} Here</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>