<div class="body">
  <mat-card>
    <mat-card-content>
      <form class="form" [formGroup]="authForm" (ngSubmit)="OnFormSubmit()">
        <h2 class="mb-4 mt-3">{{ isLoginMode ? 'Login' : 'Sign up' }}</h2>
        <!-- <mat-error>
          Email and Password were not recognized
        </mat-error> -->
        <mat-form-field *ngIf="!isLoginMode">
            <input matInput type="text" formControlName="username" placeholder="Username">
            <mat-error *ngIf="authForm.get('username').errors?.['required']">*Username is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" formControlName="email" placeholder="Email">
          <mat-error *ngIf="authForm.get('email').errors?.['required']">*Email is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="password" #input minlength="6" placeholder="Password">
          <!-- <mat-hint align="end" class="hint">{{input.value.length}}/6</mat-hint> -->
          <mat-error *ngIf="authForm.get('password').errors?.['required']">*Password is Required</mat-error>
          <!-- <mat-error  *ngIf="input.value.length < 6 && authForm.get('password').touched">*Password must be of atleast 6 characters</mat-error> -->
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" class="form-control mb-3 mt-2">{{ isLoginMode ? 'Login' : 'Signup' }}</button>    
        
        <p>{{isLoginMode ? 'Do not have an account yet?' : 'Already have an account?'}}
          <a routerLink="/login" class="text-decoration-none" (click)="onSwitchMode()">{{isLoginMode ? 'Signup' : 'Login'}} Here</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>