<div class="m-5">
    <div class="d-flex justify-content-center align-items-center"
    style="padding-top: 10rem;">
        <mat-card style="width: 25rem;">
            <mat-card-title class="p-3">Todo List</mat-card-title>
            <div>
                <div>
                    <mat-form-field class="mx-3" appearance="outline">
                        <mat-label>Add List</mat-label>
                        <input matInput autocomplete="off" [(ngModel)]="itemName" />
                    </mat-form-field>
                    <button type="button" (click)="addItem()" mat-raised-button color="primary" [disabled]="!itemName">
                        Add Todo
                    </button>
                </div>
            </div>

            <mat-list>
                <mat-list-item [class.completed]="todo.completed" *ngFor="let todo of todos">
                    <div class="d-flex align-items-center justify-content-between">
                        <mat-checkbox color="primary" [checked]="todo.completed" (change)="toggle(todo)">
                            {{ todo.title }}
                        </mat-checkbox>
                        <mat-icon style="cursor: pointer;" (click)="deleteTodo(todo.id)">close</mat-icon>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
<footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -250px; margin-bottom: 180px;">
        <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
        <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
        </div>
      </footer>