<div class="mt-5">
    <h1 class="pt-5 ps-5 text-center">All Products</h1>
    <div class="d-flex p-5 flex-wrap ms-5">
        <mat-card class="example-card me-4" *ngFor="let product of products">
            <!-- <img mat-card-image src="{{product.Image}}" alt="Photo of a Shiba Inu"> -->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="ms-3 mt-2">{{ product.ProductName }}</mat-card-title>
            <mat-card-content>
              <p>₹{{ product.Price }}</p>
              <p>Quantity: {{ product.Quantity }}</p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    </div>
</div>
