<div  class="mt-5 py-5" style="margin-left: 30px;" >
  <div>
    <p>
      <span style="background-color: #7c98de;"><b>Registration</b></span><br><br>
<b>How do I register?</b><br>
You can register by clicking on the "Register" link at the top right corner of the homepage. 
Please provide the information in the form that appears. 
You can review the terms and conditions, provide your payment mode details and submit the registration information. <br><br>

<b>Are there any charges for registration?</b><br>
No. Registration on bigbasket.com is absolutely free. <br><br>

Do I have to necessarily register to shop on bigbasket?<br>
You can surf and add products to the cart without registration but only registered shoppers will be able to checkout and place orders. 
Registered members have to be logged in at the time of checking out the cart, they will be prompted to do so if they are not logged in. <br><br>

<b>Can I have multiple registrations?</b><br>
Each email address and contact phone number can only be associated with one bigbasket account. <br><br>

<b>Can I add more than one delivery address in an account?</b><br>
Yes, you can add multiple delivery addresses in your The Grocery Mart account. 
However, remember that all items placed in a single order can only be delivered to one address. 
If you want different products delivered to different address you need to place them as separate orders. <br><br>

<b>Can I have multiple accounts with same mobile number and email id?</b><br>
Each email address and phone number can be associated with one BigBasket account only. <br><br>

<b>Can I have multiple accounts for members in my family with different mobile number and email address but same or common delivery address?</b><br>
Yes, we do understand the importance of time and the toil involved in shopping groceries. 
Up to three members in a family can have the same address provided the email address and phone number associated with the accounts are unique. <br><br>

<b>Can I have different city addresses under one account and still place orders for multiple cities?</b><br>
Yes, you can place orders for multiple cities. <br><br>
<p><span style="background-color: #7c98de;"><b>Account Related</b></span><br><br>
<b>What is My Account?</b><br>
  My Account is the section you reach after you log in at thegrocerymart.com. 
  My Account allows you to track your active orders, credit note details as well as see your order history and update your contact details. <br><br>
  
<b>How do I reset my password?</b><br>
  You need to enter your email address on the Login page and click on forgot password. 
  An email with a reset password will be sent to your email address. With this, you can change your password. 
  In case of any further issues please contact our customer support team. <br><br>
  
<b>What are credit notes & where can I see my credit notes?</b> <br>
  Credit notes reflect the amount of money which you have pending in your The Grocery Mart account to use against future purchases. 
  This is calculated by deducting your total order value minus undelivered value. You can see this in "My Account" under credit note details. <br><br>
  
<b> What is My Shopping List? </b><br>
  My Shopping List is a comprehensive list of all the items previously ordered by you on bigbasket.com. This enables you to shop quickly and easily in future. <br><br>
    <p><span style="background-color: #7c98de;"><b>Payment</b></span><br><br>
    <b>  What are the modes of payment? </b><br>
      You can pay for your order on bigbasket.com using the following modes of payment: <br>
      a. Credit and debit cards (VISA / Mastercard / Rupay) <br>
      b. UPI <br>
      c. Paytm food wallet will be accepted only for food items. <br>
      d. Cash on delivery (COD) <br>
      
      
      If the order has to be left at the security gate, please continue to pay online via wallets, UPI, net banking, or cards as you are doing now. <br>
      
      If you choose COD as the payment method, you will need to pay our delivery executive in cash at the time of delivery. <br>
      
      To minimize contact, please give the executive the exact amount or the order total rounded up to the nearest hundred. For example, if your order value is Rs.1,235, please pay exactly this amount or Rs.1,300. <br>
      
      The executive will not be able to return any change. Any balance due will be credited directly to your bigbasket wallet which you can utilise in your next order. <br>
      
      The option is currently available only for bigbasket mobile app users. <br>
      
    <b> Are there any other charges or taxes in addition to the price shown? Is VAT added to the invoice? </b><br>
      There is no VAT. However, GST will be applicable as per Government Regulizations. <br><br>
      
    <b> Is it safe to use my credit/ debit card on The Grocery Mart?</b> <br>
      Yes it is absolutely safe to use your card on thegrocerymart.com. 
      A recent directive from RBI makes it mandatory to have an additional authentication pass code verified by VISA (VBV) or MSC (Master Secure Code) which has to be entered by online shoppers while paying online using visa or master credit card. 
      It means extra security for customers, thus making online shopping safer. <br><br>
      
    <b> What is the meaning of cash on delivery? </b><br>
      Cash on delivery means that you can pay for your order at the time of order delivery at your doorstep. <br>br\
      
    <b>If I pay by credit card how do I get the amount back for items not delivered?</b> <br>
      If we are not able to delivery all the products in your order and you have already paid for them online, the balance amount will be refunded to your The Grocery Mart account as store credit and you can use it at any time against your future orders.
       Should you want it to be credited to your bank account please contact our customer support team and we will refund it back on to your card. <br><br>
      
      <b> Where do I enter the coupon code?</b> <br>
      Once you are done selecting your products and click on checkout you will be prompted to select delivery slot and payment method.
       On the payment method page there is a box where you can enter any evoucher/ coupon code that you have. 
       The amount will automatically be deducted from your invoice value. <br><br>
      
      <b>What is bigbasket Wallet?</b> <br>
      The bigbasket Wallet is a pre-paid credit account that is associated with your bigbasket account. This prepaid account allows you to pay a lump sum amount once to bigbasket and then shop multiple times without having to pay each time.
</p>
  </div>
</div>

<footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -250px; margin-bottom: 180px;">
      <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
      <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
      </div>
      </footer>