<div class="body">
    <mat-card>
      <mat-card-content>
        <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="OnFormSubmit()">
          <h2 class="mb-4 mt-3">Forgot Password</h2>
          <p class="err">{{errMsg}}</p>
          <label>Enter Your Email:</label>
          <mat-form-field>
            <input matInput type="email" formControlName="email" placeholder="Email">
            <mat-error *ngIf="forgotPasswordForm.get('email').errors?.['required']">*Email is Required</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="form-control mb-3 mt-2">Submit</button>    
        </form>
      </mat-card-content>
    </mat-card>
  </div>
