<div class="mt-5">
    <div class="container">
    <mat-card *ngFor="let product of productRes">
        <div class="row py-5">
            <div class="col-5 img-container">
                <img mat-card-image [src]="getImageUrl(product.Image)" alt="Product Image">
            </div>
            <div class="col-7 pe-5 d-flex align-items-center">
                <div class="content">
                    <mat-card-header>
                      <mat-card-title>{{ product.ProductName }}</mat-card-title>
                    </mat-card-header>
            
                    <mat-card-content>
                      <p class="desc">{{ product.ProductDescription }}</p>
                      <h4 class="mb-4">Price: ₹{{ product.Price }}</h4>
                      <p> <span class="detail">Quantity:</span> {{ product.Quantity }}</p>
                      <p> <span class="detail">Manufactured Date:</span> {{ manuDate(product.ManifacturedAt)}}</p>
                      <p> <span class="detail">Expiry Date:</span> {{ expireDate(product.ExpireAt)}}</p>
                      <!-- <div class="pt-2">
                          <button class="btn btn-outline-danger">-</button>
                          <span class="p-2">0</span>
                          <button class="btn btn-outline-success">+</button> <br> <br>
                      </div> -->
                      <button (click)="addToCart(product)" class="cart mt-2" mat-raised-button color="primary"><mat-icon class="cart-icon">shopping_cart</mat-icon>Add To Cart</button>
                      
                    </mat-card-content>
            
                    <mat-card-actions>
                    </mat-card-actions>
                </div>
            </div>

        </div>
      </mat-card>
    </div>
</div>
<footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -250px; margin-bottom: 180px;">
      <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
      <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
      </div>
      </footer>