.is-done {
    mat-checkbox {
      text-decoration: line-through;
      color: gray;
    }
  }

  footer{
    text-align: left;
    margin-top: 200px;
    padding: 3px;
    background-color: black;
    color: white;
}

a {
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}