<div>
    <h1 class="text-center mt-5 pt-5">Your Daily Groceries, Delivered Fresh!</h1><br><br>
    <img src="https://www.xbytesolutions.com/assets/img/online-grocery-delivery-app-development-solutions-like-walmart/Object2.png" style="float: right;" width="35%">
    <div style="margin-left: 200px;margin-top: 90px;">
    <h1 class="message " style="font-weight: 200;border-radius: 25px;"><mat-icon>shopping_cart</mat-icon>Best Grocery Delivery Service in town</h1><br><br>
    <h1><b>Get <span style="color: #2B4CA0;">Fresh</span> Groceries</b></h1>
    <input type="color" [(ngModel)] = "highlightercolor" >
    <h1><b>At Your Doorstep</b></h1><br>
    <h6 class="font">Grocery is an online platform to purchase your everday</h6>
    <h6 class="font">grocery fresh and fast at your doorstep</h6><br>
    <button (click)="Shopnow()" mat-raised-button color="primary" class="mx-3" style="border-radius: 25px;" >SHOP NOW</button><br><br>
    </div>

    <footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -220px; margin-bottom: 180px;">
    <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
    <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
    </div>
      </footer>
    
    <!-- <mat-icon>menu</mat-icon>
    <mat-icon>search</mat-icon>
    <mat-icon>notifications</mat-icon>
    <mat-icon>shopping_cart</mat-icon>
    <mat-icon>shopping_basket</mat-icon>
    <mat-icon>add_shopping_cart</mat-icon>
    <mat-icon>list</mat-icon>
    <mat-icon>qr_code_2</mat-icon>
    <mat-icon>receipt</mat-icon>
    <mat-icon>category</mat-icon>
    <mat-icon>local_offer</mat-icon>
    <mat-icon>payment</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>delete</mat-icon>
    <mat-icon>visibility</mat-icon>
    <mat-icon>view_list</mat-icon>
    <mat-icon>view_module</mat-icon>
    <mat-icon>view_carousel</mat-icon>
    <mat-icon>edit</mat-icon>
    <mat-icon>build</mat-icon>
    <mat-icon>update</mat-icon>
    <mat-icon>gesture</mat-icon>
    <mat-icon>adjust</mat-icon>
    <mat-icon>remove</mat-icon>
    <mat-icon>add</mat-icon>
    <mat-icon>delete_forever</mat-icon>
    <mat-icon>clear</mat-icon>
    <mat-icon>cancel</mat-icon>
    <mat-icon>layers_clear</mat-icon>
    <mat-icon>eject</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_half</mat-icon>
    <mat-icon>thumb_up</mat-icon>
    <mat-icon>thumb_down</mat-icon>
    <mat-icon>rate_review</mat-icon>
    <mat-icon>comment</mat-icon>
    <mat-icon>feedback</mat-icon>
    <mat-icon>star_rate</mat-icon>
    <mat-icon>location_on</mat-icon>
    <mat-icon>check</mat-icon>
    <mat-icon>save</mat-icon>
    <mat-icon>bookmark</mat-icon> -->


</div>