<div class="mt-5 py-5">
    <div>
        <p>
            <ol>
            <b>Introduction</b>
            <p>Thank you for choosing The Grocery Mart. We appreciate your business and want to ensure a seamless shopping experience. 
                This Cancellation Policy outlines the terms and conditions under which you may cancel your order. <br><br>
            <b>Order Cancellation</b>
            <p>1. Before Order Processing: You may cancel your order at any time before it is processed. Once the order is confirmed and processed, it cannot be canceled.
            <p>2. Order Modification: While we strive to accommodate order changes, we cannot guarantee modifications after the order is processed. You may contact our customer service for assistance.<br><br>
            <b>Cancellation and Refund Policy</b> 
            <p>1. Prepaid Orders: If you cancel your order before it is processed, a full refund will be issued to the original payment method within 4 to 5 business days.
            <p>2. Partially Shipped Orders: If part of your order has been shipped, you may request a cancellation for the remaining items. The items already shipped cannot be canceled.
            <p>3. Out of Stock Items: If an item is out of stock, we will notify you and offer a replacement or a refund for that item.<br><br>
            <b>Exceptions to Cancellation Policy</b>
            <p>1. Perishable Items: Orders containing perishable items, such as fresh produce, meat, or dairy products, cannot be canceled once processed.
            <p>2. Subscription Boxes: Cancellations for subscription boxes must be made before the renewal date to avoid charges for the next box.<br><br>
            <b>How to Cancel Your Order</b>
            <p>To cancel your order, please contact our customer service at 1800-1800-1800. You will need to provide your order number for verification.<br><br>
            <b>Contact Us</b>
            <p>If you have any questions or require further clarification regarding our cancellation policy, please contact our customer service department at 1800-1800-1800.<br><br>
            <b>Important Notice</b>
            <p>This cancellation policy is subject to change without prior notice. Please check our website regularly for updates.<br><br>
            <b>Additional Considerations</b>
            <p>Order Processing Time: Clearly define the time frame between order placement and order processing.
            <p>Refund Methods: Specify the available refund methods (e.g., original payment method, store credit).
            <p>Customer Communication: Inform customers about order status updates and cancellation process.
            <p>Force Majeure: Include a clause addressing circumstances beyond your control that may affect order fulfillment and cancellation.
            </ol>
    </div>
</div>
<footer><br><br>
    <div class="row" style="margin-left: 100px;">
        <div class="col-6">
          <p>The Grocery Mart</p>
          <a href="/about-us" target="_blank" style="color: white;">About Us</a><br>
          <a href="/privacy-policy" target="_blank" style="color: white;">Privacy Policy</a><br>
          <a href="/terms-and-conditions" target="_blank" style="color: white;">Terms and Conditions</a><br><br><br>
          <p>Copyright &#169; {{ currentYear }} Supermarket Grocery Supplies Pvt Ltd</p><br><br>
        </div>
        <div class="col-6">
            <p>Help</p>
            <a href="/FAQS" target="_blank" style="color: white;">FAQs</a><br>
            <a href="/contact-us" target="_blank" style="color: white;">Contact US</a><br><br>
            <button (click)="facebook('https://www.facebook.com')" style="border: none; background-color: black; color: white;"> <mat-icon>facebook</mat-icon></button>
            <button (click)="facebook('https://mail.google.com/')" style="border: none; background-color: black; color: white;"> <mat-icon>email</mat-icon></button>
        </div>
    </div>
    <div style="margin-left: 1200px;margin-top: -250px; margin-bottom: 180px;">
        <img src="https://i.postimg.cc/7YtPVfBv/grocery-7404621-640-removebg-preview.png" width="60">
        <span class="ms-1">The Gr<span style="color: #2B4CA0;">oce</span>ry Mart</span>
        </div>
      </footer>